.chat {
  margin-top: 40px;
}

div.chat-content {
  border-radius: 50rem;
  height: 500px;
  width: 660px;
  margin-bottom: 20px;
}

.card {
  height: 100%;
  width: 100%;
} 

div.chat-content-restaurant {
  border-radius: 25rem;
  height: 475px;
  width: 210px;
  /* margin-top: 40px; */
  margin-bottom: 20px;
}

.btn-primary {
  margin-right: 10px !important;
  width: 100px;
}

.btn-primary2 {
  margin-right: 10px !important;
  width: 210px;
  background-color: red;
}